<div class="row">
    <div class="col-sm">
        <h3>Bienvenido Administrador</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <div class="row">
            <div class="col-sm">
                <h5>Ultimos Clientes</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <table>
                    <tbody>
                        <%Client.last(10).each do |client|%>
                            <tr>
                                <td class="toUpper"><%=client.name%> <%=client.lastname%></td>
                            </tr>
                        <%end%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>