<div id="client">
	<div class="row" style="margin-top:2em;">
		<div class="col-sm">
			<div class="card custom">
				<div class="card-img-top" >
					<i class="ion-person"></i>
				</div>
				<div class="card-body">
					<a href="/client/valorar?uid=<%=@client.id%>">
						<h3>Valora al entrenador</h3>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm">
				<div class="card custom">
				<div class="card-img-top" >
					<i class="ion-calendar"></i>
				</div>
					<div class="card-body">
						<a href="/client/routines/new?uid=<%=@client.id%>">
							<h3>Crea tus rutinas</h3>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm">
					<div class="card custom">
				<div class="card-img-top" >
					<i class="ion-document-text"></i>
				</div>
						<div class="card-body">
							<a href="/client/blogs/<%=@blog.id%>"><h3>
									Checa el blog del entrenador
								</h3></a>
						</div>
					</div>
				</div>
				<div class="col-sm">
						<div class="card custom">
				<div class="card-img-top" >
					<i class="ion-calculator"></i>
				</div>
							<div class="card-body">
								<a href="/client/calculate?uid=<%=@client.id%>">
									<h3>Calcula tus calorias</h3>
								</a>
							</div>
						</div>
					</div>
	</div>
</div>