<div class="row" style="margin-top:2em;" id="coachProfile">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm"><h5>Editar Perfil</h5></div>
                </div>
                <div class="row">
                    <div class="col-sm">
                       <div class="form-group">
                           <label for="">Nombre</label>
                           <input type="text" class="form-control" value="<%=@coach.name%>" id="nombre">
                       </div>
                        <div class="form-group">
                                <label for="">Usuario</label>
                                <input type="text" class="form-control" value="<%=@coach.user%>" id="user">
                            </div>
                            <div class="form-group">
                                <label for="">Contraseña</label>
                                <input type="password" class="form-control" placeholder="Dejar en blanco si no se editara" name="newpass" id="newpass">
                                <input type="hidden" name="oldpass">
                                <input type="hidden" id="id" value="<%=@coach.id%>">
                            </div>
                        <div class="form-group">
                            <button class="btn btn-raised dark" @click="editUser()">Guardar Cambios</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>