<div class="row" style="margin-top:2em;">
	<div class="col-sm">
		<div class="card">
			<div class="card-body">
					<div class="row">
							<div class="col-sm">
								<h3>Registrate</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-sm">
								<%= render 'form', client: @client %>
							</div>
						</div>
						<div class="row">
							<div class="col-sm">
									<%= link_to 'Regresar', clients_path %>
							</div>
						</div>
			</div>
		</div>
		
	</div>
</div>



