<div class="row" style="margin-top:2em;">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <a href="/entrenador/clients?uid=<%=@coach.id%>">Regresar a lista de clientes</a>
               <table class="table">
                   <thead>
                       <tr>
                           <th>
                               Ejercicio
                           </th>
                           <th>Comentario</th>
                       </tr>
                   </thead>
                    <tbody>
                            <%@notes.each do |note|%>
                            <tr>
                                    <td>
                                            <%=note.exercise%>
                                        </td>
                                        <td>
                                            <%=note.details%>
                                        </td>
                            </tr>
                        <%end%>
                    </tbody>
               </table>
            </div>
        </div>
    </div>
</div>