/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require sweetalert2
 *= require sweetalert
 */

$primary: #4CAF50;
$dark: #388E3C;
$accent:#CDDC39;
.primary{
  background-color: $primary !important;
}
.dark{
  background-color: $dark !important;
}
.primary_text{
  color: $primary !important;
}
 .center-text{
     text-align: center;
 }

 .current-ex{
  border: 1px solid;
   padding:.3rem;
 }
 .custom{
 	text-align: center !important;
 	color: $dark;
 	.card-img-top{
 		i{
 			
 			font-size: 3em;
 		}
 	}
 	a{
 		color: $primary !important;
 		text-decoration: none;
 	}
 }
 .hide{
   display: none !important;
 }
 .fab{
 	position: fixed;
 	bottom: 45px;
right: 24px;
 }



 //rating
 .jq-stars {
  display: inline-block;
}

.jq-rating-label {
  font-size: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: helvetica, arial, verdana;
}

.jq-star {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
}

.jq-star-svg {
  padding-left: 3px;
  width: 100%;
  height: 100% ;
}

.jq-star:hover .fs-star-svg path {
}

.jq-star-svg path {
  /* stroke: #000; */
  stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
  -webkit-filter: drop-shadow( -2px -2px 2px #888 );
  filter: drop-shadow( -2px -2px 2px #888 );
}
