<!DOCTYPE html>
<html>
  <head>
    <title>Mega Fit Camp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.quilljs.com/1.1.9/quill.js"></script>
<link href="https://cdn.quilljs.com/1.1.9/quill.snow.css" rel="stylesheet">
  </head>

  <body style="background-color:#eceff1">
    <div class="container">
    	<%= yield %>
    </div>
  </body>
</html>
