<!DOCTYPE html>
<html>
  <head>
    <title>Mega Fit Camp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://cdn.quilljs.com/1.1.9/quill.js"></script>
<link href="https://cdn.quilljs.com/1.1.9/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

        <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.2/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.2/css/froala_style.min.css' rel='stylesheet' type='text/css' />
     
    <!-- Include JS file. -->
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.2/js/froala_editor.min.js'></script>
  </head>

  <body style="background-color:#eceff1">
      <div id="navigation">
        <nav class="navbar navbar-expand-lg navbar-light bg-light primary">
                <a class="navbar-brand" href="#">Mega Fit Camp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a id="home_link" class="nav-link" href="">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="" id="edit_profile">Editar Perfil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/cerrar-sesion" >Salir</a>
                    </li>
                  </ul>
                  <span class="navbar-text">
                    Bienvenido <span id="nombre"></span>
                  </span>
                </div>
              </nav>
            </div>
    <div class="container">
    	<%= yield %>
    </div>
  </body>
</html>
