<div class="row" style="margin-top:3em;">
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <h4><%=@post.title%></h4>
            </div>
            <div class="card-body">
                
                    <%=@post.content.html_safe%>
                
            </div>
        </div>
    </div>
</div>